<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue组件基础示例5（子组件向父组件传递数据）</title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div id="app">
    <component-a v-on:func="show"></component-a>
</div>

<template id="tmpl">
    <button v-on:click="childClick">这是子组件，点击传递参数给父组件</button>
</template>
<script>
    var componentA = {
        template: "#tmpl",
        methods: {
            childClick: function() {
                this.$emit('func', "我是子组件");
            }
        }
    };

    new Vue({
        el: "#app",
        methods: {
            show(data1) {
                console.log("调用了父组件身上的方法-----" + data1);
            }
        },
        components: {
            componentA
        }
    })
</script>
</body>
</html>